{% extends 'dashboard.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container px-lg-5 fontI colortext">
  <div class="pb-5 no-gutters p-lg-5 p-2">
    <div class="no-gutte p-lg-4 p-0">
      <h1 class="px-lg-5 title px-3 colortext py-5 fontI">
        Habilitación de Tribunales y Tutor para Defensa de Perfil
        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
        </svg>
      </h1>
      <div class="card-body font px-lg-5 px-3">
        <form method="post" id="approvalForm" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="fechas">
            <div class="row mb-3">
              <div class="col-md-12 pt-1">
                {{ form.user.label_tag }} <br>{{ form.user }}
              </div>
            </div><br>
            <div class="row mb-3">
              <div class="col-md-6 pt-1">
                {{ form.user_uno.label_tag }} <br>{{ form.user_uno }}
              </div>
              <div class="col-md-6 pt-1">
                {{ form.tutor.label_tag }} <br>{{ form.tutor }}
              </div>
              <div class="col-md-12 pt-1">
                {{ form.pertitulo.label_tag }}<br> {{ form.pertitulo }}
              </div>
              <div class="col-md-6 pt-1">
                {{ form.permodalidad.label_tag }}<br> {{ form.permodalidad }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4 pt-1">
                {{ form.jurado_1.label_tag }}<br> {{ form.jurado_1 }}
              </div>
              <div class="col-md-4 pt-1">
                {{ form.jurado_2.label_tag }}<br> {{ form.jurado_2 }}
              </div>
              <div class="col-md-4 pt-1">
                {{ form.jurado_3.label_tag }}<br> {{ form.jurado_3 }}
              </div>
            </div>
            <br>
            <button type="button" class="btn btn-primary fontII" data-bs-toggle="modal" data-bs-target="#approveModal">Confirmar Activación</button>
            <a class="btn btn-danger fontII" href="{% url 'listar_tribunales_perfiles' %}">Cancelar</a>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
</div><br>
<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-mdal">
      <div class="modal-header">
        <h5 class="modal-title font" id="approveModalLabel">Confirmar Aprobación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center font">
        <img src="{% static 'img/confi.png' %}" class="img-close" alt="" /><br>
        ¿Estás seguro que quiere habilitar tribunal y tutor a este usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark fontII" onclick="submitForm('aprobar')">Sí, Aprobar</button>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
  
<script>
    $(document).ready(function() {
        // Detecta cambios en el campo 'user'
        $('#id_user').change(function() {
            const userId = $(this).val();  // Obtiene el ID del usuario seleccionado
    
            if (userId) {
                // Si hay un usuario seleccionado, se hace la solicitud AJAX
                $.ajax({
                    url: '{% url "filtrartribunales" %}',  // URL donde se manejará la solicitud en Django
                    data: {
                        'user_id': userId  // Pasa el ID del usuario seleccionado
                    },
                    success: function(response) {
                        // Rellena los campos con los datos obtenidos
                        $('#id_user_uno').val(response.user_uno); 
                        $('#id_pertitulo').val(response.pertitulo); 
                        $('#id_permodalidad').val(response.permodalidad); 
                    }
                });
            } else {
                // Si no hay un usuario seleccionado, limpiar los campos
                $('#id_user_uno').val(''); 
                $('#id_pertitulo').val(''); 
                $('#id_permodalidad').val(''); 
            }
        });
    });
    
  function submitForm(action) {
    const form = document.getElementById('approvalForm');
    const hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.name = action;
    hiddenInput.value = 'true'; // Agrega un valor al input oculto
    form.appendChild(hiddenInput);
    form.submit();
  } 
</script>
{% endblock %}
{% endblock %}


