{% extends 'dashboard.html'%} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-center fontI colortitle titlesuperior">CONFIRMAR APROBACIÓN</h1>
<div class="container mt-1 pt-1">
  <div class="row pb-5 ">
    <div class="col-md-10 p-3 no-gutters p-lg-5 offset-md-1 ">
      <div class="p-lg-4 p-0 no-gutte">
        <div class="card-body font px-5 ">
          <h1 class="fontI titlegeneral colortext">Aprobar Documento del Universitario <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-clipboard2-check-fill" viewBox="0 0 16 16">

            <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5"/>
            <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585q.084.236.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5q.001-.264.085-.5m6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
          </svg></h1>
          
          <p class="fontI text colortext"><span class="colorestados">1er. Estudiante:</span> {{ actividad.estudiante }}</p>
          <p id="id_estudiante_uno" class="fontI text colortext">
            <span class="colorestados">2do. Estudiante:

            </span> {{ actividad.estudiante_uno }}
          </p>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Seleccionamos los elementos por sus IDs
                var estudianteUno = document.getElementById('id_estudiante_uno');
        
                // Comprobamos si el contenido de estudiante es 'None' o está vacío
                if (estudianteUno && (estudianteUno.textContent.trim() === '' || estudianteUno.textContent.trim() === 'None')) {
                    estudianteUno.style.display = 'none';  // Ocultamos el li de estudiante_uno
                }
            });
          </script>
          <p class="fontI text colortext"><span class="colorestados">Tutor:</span> {{ actividad.tutor }}</p>
          <p class="fontI text colortext"><span class="colorestados">Título:</span> {{ actividad.titulo }}</p>
          <p class="fontI text colortext"><span class="colorestados">Descripción:</span> {{ actividad.resumen }}</p>
          {% if todos_aprobados %}
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="cambiar_estado" class="btn btn-primary">Enviar Aprobación</button>
            <a class="btn btn-danger" href="{% url 'listaractividades' %}">Cancelar</a>
          </form>
          {% else %}
          <p class="fontI text colortext ">Estado actual: {{ actividad.estado }}</p>
          <p class="fontI text colorestados ">Para cambiar el estado a 'Aprobado', todos los jurados deben haber aprobado la documentación.</p>
          <button class="btn btn-secondary" disabled>Cambiar Estado a Aprobado</button>
          {% endif %}
        </div>
        <br />
      </div>
    </div>
  </div>
</div>

{% endblock %}
