{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}Crear Form{% endblock %}
{% load static %}
{% block content %}

<div class="container no-gutters p-lg-5 p-3 font ">
  <div class="no-gutte container p-lg-5 p-0">
    <h1 class="text-center pb-2 colortitle titlesuperior">REGISTRADO DE ACTA DEFENSA VÍA DIPLOMADO</h1>
    
    <article class="pb-2 colortext" >
      <form id="pot" method="post" enctype="multipart/form-data" onsubmit="showConfirmationModal(event)">
        {% csrf_token %}
        <div class="fechas fontI">
            <div class="row mb-3">
                {{ form.non_field_errors }}
                {{ form.errors }}
            </div>
            
            <div class="row mb-1">
                <div class="col-md-8">
                  
                    {{ form.estudiante|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    
                    {{ form.carrera|as_crispy_field }}
                </div>
            </div>
    
            <div class="row mb-1">
                <div class="col-md-4">
                  
                    {{ form.lugar|as_crispy_field }}
                </div>
                <div class="col-md-4 ">
                
                    {{ form.acta|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.perperiodo.id_for_label }}" class="form-label">Periodo</label>
                    <select name="perperiodo" class="form-control">
                        {% for periodo in ultimos_periodos %}
                            <option value="{{ periodo.id }}">{{ periodo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    {{ form.estudiante_uno|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.presidente|as_crispy_field }}
                </div>
            </div>
    
            <div class="row mb-1">
                <div class="col-md-12">
                    {{ form.titulo|as_crispy_field }}
                </div>
                
            </div>
    
            <div class="row mb-1">
                <div class="col-md-4">
                  
                    {{ form.fechadefensa|as_crispy_field }}
                </div>
                <div class="col-md-4">
                  
                    {{ form.horainicio|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    
                    {{ form.horafin|as_crispy_field }}
                </div>
            </div>
    
            <div class="row mb-1">
                <div class="col-md-4">
                   
                    {{ form.secretario|as_crispy_field }}
                </div>
                <div class="col-md-4">
                   
                    {{ form.vocal_1|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.vocal_2|as_crispy_field }}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    
                    {{ form.modalidad|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    
                    {{ form.valor_1|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    
                    {{ form.valor_2|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    
                    {{ form.valor_3|as_crispy_field }}
                </div>
                <div class="col-md-2">
                  
                    {{ form.totalnota|as_crispy_field }}
                </div>
            </div>
        <br>
        <input name="" id="" class="btn btn-dark me-2 fontII" type="submit" value="Enviar Información" {% if form_disabled %}disabled{% endif %}>
        <a class="btn btn-secondary fontII" href="{% url 'dashboard' %}">Cancelar</a>
      </form>
      <br>
    </article>
  </div> 
</div><br>


<!-- Modal de confirmación -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-mdal">
      <div class="modal-header">
        <h5 class="modal-title font" id="confirmationModalLabel"> Confirmacion de Formulario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center font">
        <img src="{% static 'img/confi.png' %}" class="img-close" alt="" /><br>
        ¡Formulario Enviado con Exito!
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('id_estudiante').addEventListener('change', function() {
    let estudianteId = this.value;  // Asume que id_estudiante es el id del campo de selección

    fetch(`/buscar_estudiante_publica?id=${estudianteId}`)
        .then(response => response.json())
        .then(data => {
            if (data) {
              document.getElementById('id_estudiante_uno').value = data.estudiante_uno !== null ? data.estudiante_uno : '';
              document.getElementById('id_titulo').value = data.titulo !== null ? data.titulo : '';
              document.getElementById('id_lugar').value = data.lugar !== null ? data.lugar : '';
              document.getElementById('id_tutor').value = data.tutor !== null ? data.tutor : '';
              document.getElementById('id_jurado_1').value = data.jurado_1 !== null ? data.jurado_1 : '';
              document.getElementById('id_jurado_2').value = data.jurado_2 !== null ? data.jurado_2 : '';
              document.getElementById('id_jurado_3').value = data.jurado_3 !== null ? data.jurado_3 : '';
              document.getElementById('id_modalidad').value = data.modalidad !== null ? data.modalidad : '';
              document.getElementById('id_calificacion1').value = data.calificacion1 || '';
            }
        })
        .catch(error => console.error('Error:', error));
});

document.addEventListener('DOMContentLoaded', function() {
  function updateNotaTotal() {
      var calificacion1 = parseFloat(document.getElementById('id_calificacion1').value) || 0;
      var calificacion2 = parseFloat(document.getElementById('id_calificacion2').value) || 0;
      var notatotal = calificacion1 + calificacion2;
      document.getElementById('id_notatotal').value = notatotal;
  }

  document.getElementById('id_calificacion1').addEventListener('input', updateNotaTotal);
  document.getElementById('id_calificacion2').addEventListener('input', updateNotaTotal);
});


  function showConfirmationModal(event) {
    event.preventDefault(); 
    $('#confirmationModal').modal('show'); 
    
    setTimeout(function() {
      $('#confirmationModal').modal('hide'); 
      document.getElementById("pot").submit(); 
    }, 2000);
  }

  document.addEventListener('DOMContentLoaded', function() {
    const estudianteSelects = [
      document.getElementById('id_estudiante'),
      document.getElementById('id_estudiante_uno'),
    ];
    
    const juradoSelects = [
      document.getElementById('id_tutor'),
      document.getElementById('id_jurado_1'),
      document.getElementById('id_jurado_2'),
      document.getElementById('id_jurado_3')
    ];
  
    // Actualiza las opciones disponibles para los estudiantes
    function updateEstudianteOptions() {
      const selectedValues = estudianteSelects.map(select => select.value);
      estudianteSelects.forEach(select => {
        Array.from(select.options).forEach(option => {
          option.hidden = selectedValues.includes(option.value) && option.value !== select.value;
        });
      });
    }
  
    // Actualiza las opciones disponibles para los jurados
    function updateJuradoOptions() {
      const selectedValues = juradoSelects.map(select => select.value);
      juradoSelects.forEach(select => {
        Array.from(select.options).forEach(option => {
          option.hidden = selectedValues.includes(option.value) && option.value !== select.value;
        });
      });
    }
  
    // Agregar evento change para cada select de estudiantes
    estudianteSelects.forEach(select => {
      select.addEventListener('change', updateEstudianteOptions);
    });
  
    // Agregar evento change para cada select de jurados
    juradoSelects.forEach(select => {
      select.addEventListener('change', updateJuradoOptions);
    });
  
    // Ejecutar la función al cargar la página para ocultar opciones seleccionadas previamente
    updateEstudianteOptions();
    updateJuradoOptions();
  });
</script>
{% endblock %}


