{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<div class="container no-gutters px-lg-5 px-1 ">
    <h1 class="titlesuperior colortext py-4">Reporte Investigaciones Científicas <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
        <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
        <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
    </svg></h1>
    
    <!-- Formulario de búsqueda -->
    <form method="GET" action="">
        <div class="row">
            <div class="col-lg-10 col-8 form-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar por nombre del estudiante">
            </div>
            <div class="col-lg-1 col-3 mt-1">
                <button type="submit" class="btn btn-primary px-lg-3 ">Buscar</button>
            </div>
            
        </div>
    </form>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'home_reporte' %}" class="btn btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-check-fill" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
            <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293z"/>
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514"/>
        </svg></a>
    
        <form method="GET" action="{% url 'Pdf_Reporte_InvFiltrado' %}" target="_blank">
            <div class="">
                <input type="hidden" name="q" value="{{ query }}">
                <button type="submit" class="btn-outline-primary btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                        <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                      </svg> Reporte General</button>
            </div> 
        </form>
        <form action="{% url 'exportar_excel' %}" method="get">
            <button type="submit" class="btn btn-outline-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                    <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                  </svg> Exportar Reporte General a Excel</button>
        </form>
    </div>
    <hr>
    <!-- Mostrar todas las actividades científicas relacionadas -->
    {% if page_obj %}
        {% for actividad in page_obj %}
            <div class=" no-guttee mb-5 fontI">
                <div class="row py-5">
                    <div class="col-md-9 px-5 text-wrap">
                        <p class="fecha colorestados ">Fecha: {{ actividad.invfecha_creacion|date:"d/m/Y" }}</p>
                        <p class="title colortitle">Título: {{ actividad.invtitulo }}</p>
                        <h5 class="text colortext">
                            <p class="text colorestados">Nombre Egresado:</p>
                            <p id="nombre1" class="title colortext" style="display: none;">{{ actividad.user_dos }}</p>
                            <p id="nombre2" class="title colortext" style="display: none;">{{ actividad.user_uno }}</p>
                            <p id="nombre3" class="title colortext" style="display: block;">{{ actividad.user }}</p>
                        </h5>
                        
                        <p class="text colortext ">Descripción: {{ actividad.invdescripcion }}</p>
                        <p class="text colorestados ">El Documento Fue: {{ actividad.investado }} </p>
                        <a href="{% url 'pdf_reporteinv' actividad.id %}" class="fontII btn btn-outline-primary" target="_blank">Generar Reporte del Estudiante</a>
                    </div>
                    <div class="col-md-3 pt-4 d-flex flex-column align-items-center">
                        <div class="image-container">
                            {% if actividad.user.imagen %}
                            <!-- Imágenes (se ocultan inicialmente) -->
                            <img id="imagen1" src="{{ actividad.user_dos.imagen.url }}" class="imgrepo" alt="." style="display: none;">
                            <img id="imagen2" src="{{ actividad.user_uno.imagen.url }}" class="imgrepo" alt="." style="display: none;">
                            <img id="imagen3" src="{{ actividad.user.imagen.url }}" class="imgrepo" alt="." style="display: block;"> <!-- Se muestra por defecto -->
                            {% else %}
                            <img id="imagenDefault" src="{% static 'img/SINFOTO.webp' %}" class="imgrepo" alt="Sin foto">
                            {% endif %}
                        </div>
                    
                        <!-- Botones de navegación -->
                        <div class="btn-group mt-3">
                            <button id="btnAnterior" class="btn btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="colorestados bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                </svg>
                            </button>
                            <button id="btnSiguiente" class="btn btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="colorestados bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                </svg>
                            </button>
                        </div>
                    
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                // Array de imágenes y nombres
                                const imagenes = [];
                                const nombres = [];
                                
                                const imagen1 = document.getElementById('imagen1');
                                const imagen2 = document.getElementById('imagen2');
                                const imagen3 = document.getElementById('imagen3');
                                
                                const nombre1 = document.getElementById('nombre1');
                                const nombre2 = document.getElementById('nombre2');
                                const nombre3 = document.getElementById('nombre3');
                                
                                // Solo agregar las imágenes y nombres que existen al array
                                if (imagen1) {
                                    imagenes.push(imagen1);
                                    nombres.push(nombre1);
                                }
                                if (imagen2) {
                                    imagenes.push(imagen2);
                                    nombres.push(nombre2);
                                }
                                if (imagen3) {
                                    imagenes.push(imagen3);
                                    nombres.push(nombre3);
                                }
                            
                                let indiceActual = imagenes.length - 1; // Mostrar la última imagen (estudiante) al inicio
                            
                                // Función para mostrar la imagen y nombre actual
                                function mostrarActual() {
                                    imagenes.forEach(function(imagen, index) {
                                        imagen.style.display = index === indiceActual ? 'block' : 'none';
                                    });
                                    nombres.forEach(function(nombre, index) {
                                        nombre.style.display = index === indiceActual ? 'block' : 'none';
                                    });
                                }
                            
                                // Botones
                                const btnAnterior = document.getElementById('btnAnterior');
                                const btnSiguiente = document.getElementById('btnSiguiente');
                            
                                // Evento botón "Siguiente"
                                btnSiguiente.addEventListener('click', function() {
                                    if (indiceActual < imagenes.length - 1) {
                                        indiceActual++;
                                    } else {
                                        indiceActual = 0; // Volver al inicio si llegamos al final
                                    }
                                    mostrarActual();
                                });
                            
                                // Evento botón "Anterior"
                                btnAnterior.addEventListener('click', function() {
                                    if (indiceActual > 0) {
                                        indiceActual--;
                                    } else {
                                        indiceActual = imagenes.length - 1; // Volver al final si estamos al principio
                                    }
                                    mostrarActual();
                                });
                            
                                // Mostrar la imagen y nombre inicial
                                mostrarActual();
                            });
                            
                        </script>
                    </div>
                    
                </div>
            </div>
        {% endfor %}

        <!-- Paginación -->
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                   
                    <li class="page-item"><a class="btn btn-sm btn-dark" href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Anterior</a></li>
                {% endif %}

                <li class="page-item active"><a class="btn btn-sm btn-light">{{ page_obj.number }}</a></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="btn btn-sm btn-dark me-1" href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Siguiente</a></li>
                
                {% endif %}
            </ul>
        </nav><br>
    {% else %}
        <p>No se encontraron actividades científicas.</p>
    {% endif %}
</div><br>
{% endblock %}